@model Concessionaria.View.ViewModel.VendaVM

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Você tem certeza que deseja exluir essa venda?</h3>
<div>
    <h4>Vendas</h4>
    <hr />
    <form asp-action="Delete">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.HiddenFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.EditorFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
    </dl>
    
    
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Lista</a>
    </form>
</div>
